<!DOCTYPE html>
<html>
<body>

<h1>Tic Tac Toe</h1>

<button onclick="goToPlayersPage()">Go to Players page</button>
<script>
    function goToPlayersPage() {
      window.location.href = "/players";
    }
  </script>

<br>
<br>
<br>

<form action="/players/add" method="POST">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="firstname"><br><br>
  
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="lastname"><br><br>

  <button type="submit">Add Player</button>
</form>

</body>
</html>