<html>

<h1>Create account</h1>


<form>
    <label for="username">username:</label>
    <input type="text" id="username" name="username"><br><br>
    
    <label for="password">password:</label>
    <input type="password" id="password" name="password"><br><br>
  
    <button type="button" onclick="signup()">Add player</button>
  </form>

  <script>
    function signup() {
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      var data = { "username": username, "password": password };
  
      fetch('/players', {
        method: 'POST',
        body: JSON.stringify(data),
        headers:{
          'Content-Type': 'application/json'
        }
      }).then(response => response.text())
      .then(text => {
          if (text === "SUCCESS") {
              window.location.href = "/";
          }
          else{
            alert(text);
          } 
      })
    }
  </script>

</html>